* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.name-page {
  color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Michroma", sans-serif;
  font-size: 3rem;
  color: navy;
}

h2 {
  padding: 0, 5rem 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: flex-end;
}

.nav-list li {
  display: inline-block;
  justify-content: right;
  color: hotpink;
  text-align: right;
  padding: 20px;
}

.gallery-container {
  max-width: 1400px;
  margin-inline: auto;
  padding: 0, 5rem 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}

@media screen and (width: <800px) {
  grid-template-columns: repeat(2 1fr);
}
@media screen and (width: <500px) {
  grid-template-columns: 1fr;
}
@media screen and (width: <1200px) {
  grid-template-columns: repeat(4 1fr);
}

@media screen and (width: >1200px) {
  .gallery-item;
  :last-of-type {
    grid-column: 2/4;

    img {
      aspect-ratio: 2/1;
    }
  }
}
